# --- Android Studio & IntelliJ Files ---
.idea/
*.iml
*.iws
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
cmakeBuild/

# --- Build Outputs ---
build/
**/build/
*.apk
*.aar
*.ap_
*.dex

# --- System & OS Overhead ---
*.DS_Store
Thumbs.db

# --- Log Files ---
*.log

# --- Crashlytics & Key Management ---
fabric.properties
google-services.json
*.keystore
*.jks
